
@import 'buttons';
$primary-color: #3498db;

.name {
    color: green;
    &:hover {
        transform: scale(1.05);
    }
    h2 {
        color:  $primary-color;
        font-size: 30px;

        &:hover {
            color: red;
            
        }
    }
    
}
.bg {
    background-color: red;
}
.primary {
    background-color: blue;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

.button {
    @include border-radius(10px);
    &:hover {
      color: red;  
      background-color: $primary-color;
      transform: scale(1.05)
      
    }
}
.button2 {
    @extend .button;
    background-color: black;
}



